.mainSectionContactPage {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1px 1fr 1px 100px;
    margin: 5% 5%;

}

.mainSectionContactPage img {
    padding: 20px;
    width: 70%;
}

.contactsItems {
    display: flex;
}

.contactsItems p{
    width: 300px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
   
}
.contactsItems a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

@media (max-width:600px) {

    .mainSectionContactPage {
        height: 100%;
    }

    .mainSectionContactPage img {
        width: 100%;
        margin: 10% 0;
    }
    .contactsItems {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 4;
   
    }

    .contactsItems p{
       text-align: left;
    }
}