.mainSectionContactPage {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 5% 5% 15%;
    
}

aside {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    line-height: 3;
    font-size: 2rem;
}

form {
    padding: 20px 0 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}
form h3 {
    font-size: 3rem;
}

form ul {
    list-style-type: none;
    margin: 0 10%;
}

form ul li {
    display: flex;
    position: relative;
    font-weight: 800;
    flex-direction: column;
    font-size: 1.5em;
    border: 2px solid #ccc;
    margin: 20px 0 20px 0;
    
}

form label {
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: left;
    border-bottom: 2px solid #ccc;
    padding-left: 50px;

}

form ul li input, textarea {
    font-size: 1em;
    height: 50px;
    background: none;
    outline: none;
    border-style: none;
    color: white;
    text-align: left;
    padding-left: 50px;
}

form textarea {
    padding-top: 10px; 
    max-width: fit-content;
    min-height: 200px;
}