
.mainSectionAboutPage {
    margin: 5% 5%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.aboutPicture {
    position: relative;
}

.aboutPicture > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 4;
}

.aboutText {
    padding: 20px;
    display: grid;
    grid-template-rows: 40px 1fr 50px;
}

.aboutText h1 {
    font-size: 2.5em;
}

.aboutText > p {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: justify;
    margin: 20px 0;
    padding: 20px;
}
.aboutText p span {
    color: #ccc;
}

@media (max-width: 950px) {
    .mainSectionAboutPage {
        grid-template-columns: 1fr;
    }

    .aboutPicture {
        display: none;
    }
    
}

@media (max-width: 600px) {
  
    .aboutText h1 {
        font-size: 2rem;
    }

    .aboutText > p {
        font-size: 1.5rem;
        margin: 0 0 20% 0;
        padding: 0;
        text-align: justify;
    }

}