.photoGrid {
    margin: 7% 5% 7% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 500px;
    gap: 30px;
    
}

.photoGrid > img {
    aspect-ratio: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commandButtons {
    margin: 0 5% 7%;
    position: relative;
    display: flex;
}


/* BOTOES DE COMANDO ENTRE AS PAGINAS */

.btnLeft, .btnRight {
    width: 240px;
    position: absolute;
    background: none;
    border: none;
    letter-spacing: 3px;
    cursor: pointer;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.btnLeft {
    left: 0;
}
.btnRight { 
    right: 0;
}

.btnLink {
    text-decoration: none;
}


@media (max-width: 600px) {
    .photoGrid {
        grid-template-columns: 1fr;
    }
    .btnLeft, .btnRight {
        width: 20px;
        letter-spacing: 0;
        font-size: 1rem;
    }

    .btnLeft {
        left: 40px;
    }
    .btnRight {
        right: 40px;
    }

    .commandButtons {
        margin: 5%;
    }
}