
h1 {
  font-size: 2.5rem;
}

.photoGrid {
    margin: 4% 5% 7% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .photoGrid-item {
    position: relative;
    overflow: hidden;
  }
  
  .photoGrid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  /* Responsividade do grid de fotos */
  @media (min-width: 600px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (min-width: 900px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }


.commandButtons {
    margin: 0 5% 7%;
    position: relative;
    display: flex;
    padding-bottom: 50px;
}

/*Card Loader*/

.loading-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.loader {
  border: 16px solid #ccc;
  border-top: 16px solid #d3337ed8;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* BOTOES DE COMANDO ENTRE AS PAGINAS */

.btnLeft, .btnRight {
    position: absolute;
    background: none;
    border: none;
    letter-spacing: 3px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.btnLeft {
    left: 0;
}
.btnRight { 
    right: 0;
}

.btnLink {
    text-decoration: none;
}


@media (max-width: 600px) {
    .photoGrid {
        grid-template-columns: 1fr;
    }
    .btnLeft, .btnRight {
        letter-spacing: 0;
        font-size: 1rem;
    }

    .commandButtons {
        margin: 5%;
      
    }
}