
h1 {
  font-size: 2.5rem;
}

.photoGrid {
    margin: 4% 5% 7% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .photoGrid-item {
    position: relative;
    overflow: hidden;
  }
  
  .photoGrid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  /* Responsividade do grid de fotos */
  @media (min-width: 600px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (min-width: 900px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }


.commandButtons {
    margin: 0 5% 7%;
    position: relative;
    display: flex;
}


/* BOTOES DE COMANDO ENTRE AS PAGINAS */

.btnLeft, .btnRight {
    width: 240px;
    position: absolute;
    background: none;
    border: none;
    letter-spacing: 3px;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.btnLeft {
    left: 0;
}
.btnRight { 
    right: 0;
}

.btnLink {
    text-decoration: none;
}


@media (max-width: 600px) {
    .photoGrid {
        grid-template-columns: 1fr;
    }
    .btnLeft, .btnRight {
        width: 20px;
        letter-spacing: 0;
        font-size: 1rem;
    }

    .btnLeft {
        left: 40px;
    }
    .btnRight {
        right: 40px;
    }

    .commandButtons {
        margin: 5%;
    }
}