.mainSection {
    margin: 50% 5%;
}

.mainSection p {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 50px;
}



@media (max-width: 640px) {
    .mainSection p {
        font-size: 1.5rem;
    }
    
}