.mainSection {
    margin: 5%;
}

.aboutMain {
    position: relative;
    font-size: 4rem;
}

.mainSection p {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 50px;
}



@media (max-width: 640px) {
    .mainSection p {
        font-size: 1.5rem;
    }
    .mainSection h1 {
        font-size: 2.5rem;
    }
}