.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    
}

.footerItem {
    width: 33%;
}

.footerItem p {
    color: #ccc;

}

.footerItem .devs {
    text-align: end;
}

@media (max-width: 640px) {
    .footerContainer {
        flex-direction: column;
    }
    .footerItem {
        width: 100%;
        padding: 10px;

    }
    .footerItem .socialMobile {
        width: 100%;
        justify-content: space-evenly;
    }   

    .footerItem .devs {
        text-align: center;
    
    }

}