.headerLogo {
    align-self: center;
    width: 130px;
    display: flex;
   justify-content: start;
}

.homeLink {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.headerLogo > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo span {
    text-align: end;
}


/* dropDown BTN MENU */

.dropDown {
    list-style: none;
    float: left;
    padding: 10px;
}
.dropDown li {
    position: relative;
    float: left;
   
}

.dropDown li .links {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    text-align: start;
    
}

.dropDown li .links::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 87, 87, 0.5);
    color: #fff;
    transform-origin: right;
    transition: transform 200ms ease-in;
    z-index: -2;
    transform: scaleX(0);
}

.dropDown li .links:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.dropDown li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #000;
    display: none;
    z-index: 3;
}

.dropDown li:hover ul {
    display: block;

}

.dropDown li ul li {
    border: 1px solid #858585;
    display: block;
    width: 190px;
}


/* NAVBAR ITEMS */


.navbar {
    height: 70px;
    display: flex;
    margin: 3% 5% 2% 5%;
    justify-content: space-between;
}

.navbarItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarItems ul {
    display: flex;
    font-size: 1rem;
    list-style-type: none;
    justify-content: space-between;  
}
