.mainLandingSection{
    display: flex;
    flex-direction: column;
}

.socialDiv {
    width: 130px;
    align-self: center;
}
.socialMedia, .socialMobile {
    list-style-type: none;
    width: 130px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.mobileMenu {
    display: none;
}

.mainTxt {
    position: relative;
}

h1 {
    font-size: 5.5rem;
    font-weight: 200;
    font-family: 'Bodoni Moda', serif;
}

h2 {
    font-weight: 100;
    font-size: 6rem;
    font-family: 'Alex Brush', cursive;
    color: #FF5757;
    position: absolute;
    background: none;
    transform: translate(-50%, -50%);
    top: 84%;
    left: 50%;
}

.footerPics {
    margin: 6% 5%;
    display: flex;
    justify-content: space-between;
    float: left;
    gap: 10px;
    transition: 0.5s;
}

.footerPics:hover  .landingImg{
    filter: blur(2px);
}

.landingImg {
    position: relative;
    flex:1;
    transition: 500ms;

}

.landingImg:hover {
    filter: blur(0px) !important;
    transform: scale(1.05) !important;
    transition: 500ms;
}

.landingImg > img {
    width: 100%; 
    aspect-ratio: 3 / 4;
    object-fit: cover;
}






@media (max-width: 710px) {
    h2 {
        top: 50%;
    }
}



@media (max-width: 600px) {

    .navbar {
        position: relative;
    }
    .headerLogo {
        position: absolute;
        left: 0;
    }

    .mobileMenu {
        display: flex;
        align-self: center;
        position: absolute;
        right: 0;
    }

    .socialMedia {
        display: none;
    }

    .socialMobile {
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .navbarItems {
        display: none;
    }
    

    h1,h2 {
        font-size: 3rem;
    }

    h2 {
        top: 50%;
    }

    .footerPics {
        flex-direction: column;
    }
    .landingImg {
        width: 100%;
    }

}

@media (min-width: 412px) {
    h1 {
        font-size: 4rem;
    }
}